.blog{
    width:100%;
    background:#fff;
    padding:120px 40px;
    display:flex;
    justify-content:center;
}

.blog-container {
    max-width:1200px;
    width:100%;
    display:flex;
    flex-direction:column;
    align-items:center;
    gap:40px;
}


.blog .header {
    max-width:700px;
    text-align:center;
    display: flex;
    flex-direction: column;
    gap: 12px;

}

.blog .cards {
    width:100%;
    display:grid;
    grid-template-columns:repeat(3,1fr);
    gap: 32px;
}

.blog .card-1,
.blog .card-2,
.blog .card-3 {
    height: 394px;
    border-radius:12px;
    padding:16px;
    display:flex;
    align-items:flex-end;
    background-size:cover;
    background-position:center;
}


.card-1 {
    background-image: url('../images/1.png'); 
}

.card-2 {
    background-image: url('../images/2.png');
}

.card-3 {
    background-image: url('../images/3.png');
}


.card-footer{
    width:100%;
    padding:16px;
    border-radius:6px;
    background:#FFFFFF59;
    backdrop-filter:blur(40px);
    color:#ffffff;
    font-weight:600;
}

.blog-btn{
    width: 205px;
    height: 60px;
    background: #A30567;
    color: white;
    border-radius: 8px;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin: 40px auto 0; 
    cursor: pointer;
}



.btn img {
    width: 20px; 
}


@media (max-width:600px){

.blog .cards{
display:flex;
overflow-x:auto;
gap:20px;
padding-bottom:10px;
scroll-snap-type:x mandatory;
}

.blog .card-1,
.blog .card-2,
.blog .card-3{
min-width:85%;
height:300px;
flex-shrink:0;
scroll-snap-align:start;
}

.blog-btn{
margin-top:20px;
}

}